@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}



// Navbar

nav {
    background-color: $primary;
    font-family: $font-family-sans-serif;
    color: white;
}
.navbar-brand {
    color: white;
    
}
.nav-link {
    color: white;
    margin: 0 2rem;
   

}
#navbar-title {
    font-family:"Lumanosimo", sans-serif;
    letter-spacing: 0.1em;
    font-size: 200%;
}
// page accueil 
.hero-scene {

    padding-top: 35px;
    font-size: 150%;
}

.container {
    column-count: 2;
    margin-top: 2em;
    font-size: 135%;
    
}

.Image-van{
   
    background-size: cover;
    filter: birghtness(0.3);
    
}
    
 
// Footer
main{margin-bottom: 200px;}
footer.footer {
    padding: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $primary;
    font-family: $font-family-sans-serif; color: white;

}
